* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #42455a;
  color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* LAYOUT GENERAL */
.dashboard {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;  /* sidebar | contenido */
}

/* SIDEBAR */
.sidebar {
  background: #535674;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 8px;
}

.welcome p {
  font-size: 14px;
  opacity: 0.7;
}

.welcome h2 {
  font-size: 20px;
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.side-nav a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 16px;
  opacity: 0.8;
}

.side-nav a.active,
.side-nav a:hover {
  opacity: 1;
  font-weight: 600;
}

/* MAIN */
.main {
  padding: 24px 32px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 24px;
}

/* TARJETAS DE ARRIBA */
.top-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.card {
  background: #535674;
  border-radius: 12px;
  padding: 16px 20px;
}

.card h3 {
  margin-bottom: 8px;
}

.chart-placeholder {
  height: 320px;
  background: #363743;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

/* TEAM DATA */
.team-data {
  background: #535674;
  border-radius: 12px;
  padding: 16px 20px;
}

.team-data h3 {
  margin-bottom: 12px;
  font-size: 20px;
}

/* ESTRUCTURA DE CADA FILA DE DATOS */
.data-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px;
  background: #363743;
  border-radius: 8px;
}

.data-row .name {
  font-size: 16px;
  color: #fff;
}


.data-row a {
  display: flex;
  gap: 12px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  background: #19d7f8;
  padding: 6px 12px;
  border-radius: 8px;
  opacity: 0.8;
}

.data-row .link:hover {
  opacity: 1;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .sidebar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
